
:root {
   --primary: rgb(65, 224, 224);
   --dark-primary: rgb(24, 26, 62); 
   --primary-hover: rgb(55, 185, 185);
}
<style>
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
</style>


 

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   font-family: "Oswald", sans-serif;
   }

header {
   background-color:var(--dark-primary);
   padding: 10px 20px 30px 40px ;
   color: white;
   display: flex;
   justify-content: space-between;

}

header ul{
   list-style: none;
   display:flex;
   
}
header ul li {
   margin-right: 20px;
}
header  ul li a { 
   color: rgb(255, 255, 255);
   text-decoration:dashed ;
   font-weight: 600;

}
header li a:hover{
   color: var(--primary);
}
/* header button */
header button {
   padding: 10px 20px;
   font-weight: bold;
   background-color:var(--dark-primary);
   border: 1px solid var(--primary); 
   color:var(--primary);
   border-radius: 5px;
  
}
header button:hover{
   cursor: pointer;
   background-color: var(--primary);
   color:white;
}

/* logo */
header .logo {
   font-weight: 600;
   

}
/* sectiopn hero home */
section.hero-section{
   background-color: var(--dark-primary);
   color: white ;

   display:flex;
   align-items: center;
   padding: 10px 10px 0 100px;
}
.hero-section__title {
   font-size: 50px;
   font-weight: 900;
    
}

.hero-section__title > span {
   color: var(--primary); 

}

.hero-section__desc {
   color:azure;
}
.social-icons {
   margin: 20px 0;
    
}
.social-icons li {
   margin-right: 15px ;
}
ul.social-icons {
   
   list-style: none;
   display: flex;

}
.social-icons li > a{
   text-decoration: none;
   color: white;
}
.social-icons li > a:hover{
   color: var(--primary);
}
/* buttons */
.btn {
   padding: 10px 20px;
   border-radius: 5px ;
   border: none;
   cursor: pointer;
   
}
.btn.btn-primary {
   background-color: var(--primary);
   font-weight: 600;
   color: white;

}
.btn.btn-primary:hover{
   background-color: var(--primary-hover);
}
.btn {
   padding: 10px 20px;
   font-weight: bold;
   background-color:var(--dark-primary);
   border: 1px solid var(--primary); 
   color:var(--primary);
   border-radius: 5px;
   
}
.btn:hover{
   cursor: pointer;
   background-color: var(--primary);
   color:white;
}
/* about me  */
